.toDoContent {
  @apply flex justify-center items-center
    flex-col;
}

.toDoContainer {
  @apply px-14 py-5 my-5  
   bg-black hover:bg-green-600  text-white hover:text-white
    transition-all duration-300 ease-linear
    hover:rounded-md rounded-xl
     shadow-xl
    hover:-translate-y-1
    max-w-full;
}

.toDoButtonModal {
  @apply p-2 mt-3 
  bg-green-500 text-black 
hover:bg-black hover:text-white
  hover:rounded-sm rounded-lg
  transition-all duration-300 ease-linear
  cursor-pointer shadow-lg;
}

.toDoDeleteButton {
  @apply p-2 mt-3 
  bg-white text-black 
hover:bg-red-500 hover:text-black
  hover:rounded-sm rounded-lg
  transition-all duration-300 ease-linear
  hover:rotate-12
  cursor-pointer shadow-lg;
}

.toDoDeleteButtonConfirm {
  @apply flex justify-center
  mb-5 mx-auto  p-2
  bg-black hover:bg-red-500
  text-red-500 hover:text-white
    hover:rounded-md rounded-xl 
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
}

.completeCheckbox {
  @apply block relative  cursor-pointer left-20;
}

.toDoDeleteModalContainer {
  @apply h-screen w-full fixed left-0 top-0 
  flex justify-center items-center bg-black
  rounded-xl
   bg-opacity-50 z-10 text-green-500;
}

.toDoModalContainer {
  @apply h-screen w-full fixed left-0 top-0 
  flex justify-center items-center bg-black
  rounded-xl 
   bg-opacity-50 z-10 text-green-500;
}

.editToDo {
  @apply w-full flex justify-center flex-col
  p-5 h-auto;
}
